*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html, body{
  background-color: 	#808080;

}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logo-plataforma-contenedor{
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 20px;
}

.logo-plataforma{
  height: 300px;
}

.contenedor-principal{
  height: 700px;
  min-width: 700px;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.marco {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  float: left;
}

.marco p {
  margin: 0;
}


